<h1>Restaurants</h1>
<ul>
	<% @restaurants.each do |restaurant| %>
		<li> 
			<%= link_to restaurant.name, restaurant_path(restaurant.id) %>
		</li>
	<% end %>
</ul>

<p><%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-lg" %></p>
<p><%= link_to "Log out", login_path, method: :delete, class: "btn btn-lg"%></p>
