<h1>ご飯屋さん一覧</h1>
<ul>
	<% @restaurants.each do |restaurant| %>
		<li> 
			<%= link_to restaurant.name, restaurant_path(restaurant.id) %>
		</li>
	<% end %>
</ul>

<p><%= link_to "ご飯屋さんを追加", new_restaurant_path, class: "btn btn-lg btn-primary" %></p>
