<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
    <%= link_to "Shibuya Lunch", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
				<% if !current_page?(login_path) %>
				<li>
					<%= link_to "ログアウト", login_path, method: :delete, class: "btn btn-lg"%>
				</li>
			<% end %>
	    </ul>
    </nav>
  </div>
</header>
